button {
	outline: none;
	border: 1px solid #dddddd;
	padding: 1rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.3rem;
	box-sizing: border-box;
	background-color: #8fb8de;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	cursor: pointer;
}

button:focus {
	// box-shadow: 0 0 0.5rem $focus;
	// border-top: 1px solid $focus;
	// border-right: 1px solid $focus;
	// border-bottom: 1px solid $focus;
}

button:hover {
	background-color: #66acee;
}

.cancel {
	border: 1px solid #fff;
	background: none;
	text-align: center;
	color: black;

	&:hover {
		text-decoration: underline;
		background-color: #fff;
	}
}
