@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.container {
    max-width: 30rem;
    margin: auto;
    display: flex;
    height: fit-content;
    margin: auto;
    padding: 1rem;
    justify-content: center;
    overflow: auto;

    &__about {
        margin: 0 2rem 0 0;
        flex: 2;

        h2 {
            text-align: left;
            font-family: "Playfair Display", serif;

            letter-spacing: 0.1rem;
            font-size: 1.5rem;
        }

        p {
            text-align: left;
            font-weight: 300;
            line-height: 1.3rem;
        }
    }

    &__contact {
        // background-color: cornflowerblue;
        flex: 1;
        margin: 0 0 0 2rem;

        h2 {
            text-align: right;
            letter-spacing: 0.1rem;
            font-family: "Playfair Display", serif;

            font-size: 1.5rem;
        }

        .menu-items {
            // background-color: sandybrown;
            .link-container {
                display: flex;
                margin-bottom: 0.2rem;

                a {
                    text-decoration: none;
                    color: black;
                }

                a:visited {
                    color: black;
                }

                &:hover {
                    cursor: pointer;

                    .twitter {
                        animation: shake 0.5s;
                        animation-iteration-count: infinite;
                    }
                }
            }

            .icon {
                flex: 1;
                padding: 0.2rem;

                .img {
                    height: 2rem;
                    width: 2rem;

                    img {
                        height: 2rem;
                        width: 100%;
                    }
                }
            }

            .link {
                flex: 1;
                text-align: right;
                align-self: center;
            }
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__contact {
            margin: 0;
            h2 {
                text-align: center;
            }
        }

        &__about {
            margin: 0;

            h2 {
                text-align: center;
                letter-spacing: 0.1rem;
                margin-top: 1rem;
                font-size: 1.5rem;
            }

            p {
                text-align: center;
                font-weight: 300;
                margin-top: 1rem;

                line-height: 1.3rem;
            }
        }
    }
}
