.container {
	height: 30rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(
			to right bottom,
			rgba(rgba(103, 177, 247, 0.767), 0.8),
			rgba(rgba(182, 212, 240, 0.993), 0.6)
		),
		url("../../images/nightsky.jpg");

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	flex-direction: column;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	margin-top: 0.1rem;
	box-sizing: border-box;

	&__photo {
		margin-top: 2.5rem;
		width: 14rem;
		border-radius: 50%;
		border: 2px solid rgba(10, 8, 8, 0.575);
	}

	&__about-me {
		width: 100%;
		margin: 2rem;
		display: block;
		text-align: center;
		box-sizing: border-box;

		h1 {
			font-weight: 700;
			font-size: 3rem;
			font-family: "Playfair Display", serif;
			letter-spacing: 0.4rem;
			margin-top: 1rem;
		}

		h2 {
			font-weight: 300;
		}
	}
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
	.container {
		width: 100%;

		&__about-me {
			width: 10rem;
			text-align: center;
			h1 {
				font-weight: 700;
				font-size: 2rem;
				letter-spacing: 0.4rem;
			}

			h2 {
				font-weight: 300;
				font-size: 1rem;
				margin-top: 1rem;
			}
		}
	}
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
	.container {
		width: 100%;

		&__about-me {
			width: 10rem;
			text-align: center;
			h1 {
				font-weight: 700;
				font-size: 2rem;
				letter-spacing: 0.4rem;
			}

			h2 {
				font-weight: 300;
				font-size: 1rem;
				margin-top: 1rem;
			}
		}
	}
}
