.buttonnav {
	height: 3.6rem;
	width: 3rem;
	cursor: pointer;
	transition: 2s;
	outline: none;
	background-color: white;
	border-bottom: 0.5px solid black;
	border-right: 0.5px solid black;
	border-top: 0.5px solid black;
	border-left: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&:hover {
		background-color: none !important;
	}

	&:active {
		background-color: white;
	}

	&:focus {
		background-color: white !important;
		border-bottom: 0.5px solid black;
		border-right: 0.5px solid black;
		border-top: 0.5px solid black;
		border-left: none;
		box-shadow: none;
	}

	.bar1,
	.bar2,
	.bar3 {
		width: 2.2rem;
		height: 0.5rem;
		background-color: black;
		margin: 0.1rem 0.4rem;
		transition: 0.5s;
	}

	.bar1-open {
		transform: translateY(1rem);
		opacity: 0;
	}

	.bar3-open {
		transform: translateY(-1rem);
		opacity: 0;
	}
}
